
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.Navbar{
    display: flex;
  justify-content: space-between;
    font-family: "Inter", serif;
}

.cont{
    display: inline-block;
}

.menu-items{
   /* display:flex;
    flex-direction: row;*/
    
}

.list-items{
    display: flex;
    list-style-type: none;
    gap: 1.5em;
    color: hsl(236, 13%, 42%);
}

.logo{
    flex-shrink: 10;
    margin-top: 8px;
}

.side-bar{
    list-style-type: none;
    margin-top: 70px;
        flex-direction: column;
        font-family: "Inter", serif;
        width: 150px;
      /*  height:700px;*/
       
    
}

.side-bar-container{
    height:800px;
    background-color: white;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
}
.menu{
    height: 20px;
    width: 30px;
    margin-top: 15px;
    z-index: 999;
}

@media (max-width: 670px){
  /* .list-items{
        gap: 1;
        flex-direction: column;
        width: 150px;
        height:700px;
        box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    }*/
.list-items{
    display: none;
}
    
}

@media (min-width: 670px){
    .menu{
        display:none;
    }
}

.side-bar li{
    margin-top: 13px;
}

.close{
    margin-top: 8px;
    margin-left: 200px;
    height: 30px;
}
